@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lemonada:wght@700&display=swap');

body {
  background: #ecf0f1;
  color: #333333;
  margin-top: 5rem;

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.navbar-brand {
  font-family: 'Lemonada', cursive;
}

.container h1 {
  font-family: 'Lemonada', cursive;
  font-size: 30px;
}

.container .post h1,h2 {
  font-family: 'Lemonada', cursive;
  font-size: 30px;
}
.container h2, p, h4 {
  font-family: 'Dancing Script', cursive;
}

.bg-steel {
  background-color: #2c3e50;
}

.search-box {
  border: 3px solid #2c3e50; 
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding: 0px 10px;
}

.btnn1 {
  border: 3px solid #2c3e50; 
  height: 40px;
  width: 100px;
  border-radius: 50px;
}

.btnn1:hover {
  background-color: #2c3e50;
  color: #fff;
}

.btnn2 {
  border: 3px solid #2c3e50; 
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.btnn2:hover {
  background-color: #2c3e50;
  color: #fff;
}

.post {
  background-color: #fff;
}

.search-box2 {
  height: 40px;
  width: 150px;
  border: 1px solid #e84118;
  background-color: #e84118; 
  border-radius: 20px;
}

.search-box2 a {
  color: #fff;
}

.search-box3 {
  height: 40px;
  width: 150px;
  border: 1px solid #273c75;
  background-color: #273c75; 
  border-radius: 20px;
}

.search-box3 a {
  color: #fff;
}

.btnn3 {
  border: 3px solid #e84118; 
  background-color: #e84118;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.btnn3:hover {
  background-color: #fff;
}

.btnn3 .fa {
  color: #fff;
}

.btnn3:hover .fa{
  color: #e84118;
}

.btnn4 {
  border: 3px solid #273c75; 
  background-color: #273c75;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.btnn4:hover {
  background-color: #fff;
}

.btnn4 .fa {
  color: #fff;
}

.btnn4:hover .fa{
  color: #273c75;
}
