{% include 'usermanagement/header.html' %}
<div class="containerradio">
    <a href="socialdistancing/" class="btn-danger btn-lg"> Social Distancing </a>
    &nbsp &nbsp
    <a href="awareness/" class="btn-danger btn-lg"> Awareness </a>
    &nbsp &nbsp

    <a href="https://coronatracker-c26ed.web.app/data" class="btn-info btn-lg">See the worldwide visualization</a>

    <a href="https://covidfightsirplot.herokuapp.com/" class="btn-info btn-lg "> Observe The Curve </a>
    &nbsp &nbsp
    
    
    <a href="#" class="btn-info btn-lg"> Observe The Prediction </a>
</div>
{% include 'usermanagement/footer.html' %}
