{% include 'usermanagement/header.html' %}
    {% if user.is_authenticated %}
        {%  if user_prof.usertype %}
            {{user_prof.usertype}}
        {%else%}
            {{user_prof}}
            <form method = 'POST'>
                {% csrf_token %}
                    <input type="radio" name="user_type" id="" value = "Shopkeeper"> Shopkeeper
                    <input type="radio" name="user_type" id="" value="Doctor"> Doctor
                    <input type="radio" name="user_type" id="" value="Normal_User"> Normal_User
                    <input type="submit" value="Submit">
            </form>
        {%endif%}
    {% else %}
    <h1>Login First</h1>


    {% endif %}
{% include 'usermanagement/footer.html' %}    
   