{% include 'awareness/header.html' %}

        <form method="POST">
            {% csrf_token %}
            <div class="inner">

				<label class="para"for=" exampleInputEmail1" style="font-family: 'Roboto Condensed', sans-serif;">Enter answer.</label>

            <input type="text" name="answer" class="form-control" placeholder="Enter your answer here." id="exampleInputEmail1" aria-describedby="emailHelp" style="font-family: 'Roboto Condensed', sans-serif;"><br><br>
            <small id="emailHelp" class=" para1 form-text text-muted" style="font-family: 'Roboto Condensed', sans-serif;">Your answer can be seen by others.</small>
            <input class="butt btn btn-success" type="submit" value="Submit" style="font-family: 'Roboto Condensed', sans-serif;">
        </form>
</div>