{% include 'awareness/header.html' %}

        <form method="POST">
            {% csrf_token %}
            <div class="inner">

				<label class="para"for=" exampleInputEmail1">Enter answer.</label>

            <input type="text" name="answer" class="form-control" placeholder="Enter your answer here." id="exampleInputEmail1" aria-describedby="emailHelp"><br><br>
            <small id="emailHelp" class=" para1 form-text text-muted">Your answer can be seen by others.</small>
            <input class="butt btn btn-success" type="submit" value="Submit">
        </form>
</div>