{% load static %}
{% include 'awareness/header.html' %}

<body>
        <div class="container">
        {%  for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- <h3> {{message}} </h3> -->
        {% endfor %}
    </div>
<!-- <section id="overall"> -->
    <section class="firstsection">
            <h1 class="title">Ask Your question by putting up in the platform :- </h1>
            <form method="POST" action='createpost/'>
                {% csrf_token %}
                <div class="form-group">
                    <div class="first-section-label">
                        <label for="exampleInputEmail1"><u><i>Enter title.</i></u></label>
                    </div>
                </div>
                <input class="form-control" type="text" name="title" id="" placeholder='Enter Question title'> <br> <br>
                <div class="form-group">    
                    <div class="first-section-label">
                        <label for="exampleInputEmail1"><u><i>Enter Description</i></u></label>
                    </div>
                    <textarea class="form-control" rows = "4" cols="30" type="text" name="description" id="" placeholder="Enter Question  Description" class="form-control"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit" class="btnn1">
            </form>
    </section>
    <div class="container-fluid">
        <form action='searchbypostname/' method="GET">
            <section id="second-section">
                <h1 class="big-title">Search for a post.</h1>
            
                <div class="form-group">
            
                    <label for="exampleInputEmail1">Enter post name.</label>
            
                    <input type="text" name="postname" class="form-control" placeholder="Search by postname" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
            
                    <small id="emailHelp" class="form-text text-muted">Search relevant posts and keep yourself up to date.</small>
            
                </div>
                <div class="second-section-button">
                    <button type="submit" class="btn btn-primary">Search<i class=" fab fa-searchengin"></i></button>
                </div>
            </section>
        </form>
    </div>
<!-- 
</section> -->

    <div class="container">
        {% for post in posts %}
        <div class="design">
            <div class="card border-primary mb-3" style="width: 50rem; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;">
                <div class="card-body">
                    <h3 class="card-subtitle mb-2 text-muted" style="font-family: 'Fira Sans Condensed', sans-serif;">
                        {{post.title}}</h3>
                    <p class="card-text" style="font-family: 'Fira Sans Condensed', sans-serif;"> {{post.description}}
                    </p>
                    <h4 class="card-text"><small class="text-muted">Posted By {{post.user.user.username}}</small></h4>
                    <a href="answer/{{post.id}}/" class="btn btn-warning">Answer the post</a>
                    <a href="viewreply/{{post.id}}/" class="btn btn-primary">View replies</a>
                </div>
            </div>
        </div>
        <hr>
        <br>
        {% endfor %}
    </div>



    <hr>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>