{% include 'socialdistancing/header.html' %}    


    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <a href="createshop/" class="btn btn-primary btn-lg">Create Shop</a>
    <a href="updateshop/" class="btn btn-primary btn-lg">Update Shop</a> 
    <a href="notification/" class="btn btn-primary btn-lg"> See all Notifiactions </a>
    <a href="viewrequests/" class="btn btn-primary btn-lg">ViewRequests </a>
    <br> <br>

<br> <br>
<form method = 'POST' action = 'searchbyLocation' > 
    {% csrf_token %}
    <input type="text" name="search" id="" placeholder="SearchByLocation">
    <input type="submit" value="Submit">
</form>
<form method='POST' action = 'searchbyType'>
    {% csrf_token %}
    <input type="radio" name="search" value=Grocery id="" > Grocery
    <input type="radio" name="search" value = Medical-Store id=""> Medical-Store
    <input type="radio" name="search"  value= "Food" id=""> Food
    <input type="submit" value="Submit">
</form>
  
    {% for shop in shops %}
    <hr>
        <h1>{{shop.shop_name}}</h1>
        <h1> Owner Name :-  {{shop.owner.user.username}} </h1>
        <h2> Shop Location:-  {{shop.location}} </h2>
        <h2> Opening Time:- {{shop.opening_time}} </h2>
        <h2> Closing Time:- {{shop.closing_time}} </h2>
        <h2> Type :- {{shop.shop_type}} </h2>
        <a href="placerequest/{{shop.id}}/"> PlaceRequest </a>
    {% endfor %}
    <hr>

{% include 'socialdistancing/footer.html' %}