{% include 'socialdistancing/header.html' %}
<div class="container2">
    {% if notifications %}
    <hr>
    {% for notification in notifications %}
    {% if notification.status %}
    <h1>Request Accepted</h1> <br> <br>
    <a href="delete/{{notification.id}}/" class="btn-lg btnx">Delete</a>
    {% else %}
    <h1>Request has been declined</h1>
    {% endif %}
    <h1> Message from the shop owner is:-</h1> <h4>{{notification.message}} </h4> <br> 
    <a href="delete/{{notification.id}}/" class="btn-lg btn-danger">Delete</a>
    <hr>
    {% endfor %}
    {% else %}
    <span>
        <i><strong><u> Oops! Nothing got caught </u></strong></i>
    </span>
    {% endif %}
</div>

{% include 'socialdistancing/footer.html' %}