{% include 'socialdistancing/header.html' %}    
{% if notifications %}
<hr>
    {% for notification in notifications %}
        {% if notification.status %} 
            Request Accepted <br>
            <a href="delete/{{notification.id}}/" >Delete</a>
        {% else %}
            Request has been declined
        {% endif %}
    <h2> Message from the shop owner is:- {{notification.message}} </h2> <br>
<hr>
    {% endfor %}
{% else %}
Your requests are under evaluation
{% endif %}

{% include 'socialdistancing/footer.html' %}