{% load static %}

{% include 'socialdistancing/header.html' %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<h1 style="text-align: center;color:#fff">Place Your Requests With Proper Timings</h1>
    <form method='POST' class="fm">
        {% csrf_token %}
        <ul>
            <li>
                <input type="time" name="expected_going_time" id="" data-toogle="tootlip" title="Enter Your Expected time of reaching" data-placement="auto">
            </li>
            <li>
                <input type="time" name="expected_leaving_time" id=""data-toogle="tootlip" title="Enter Your Expected time of leaving" data-placement="auto">
            </li>
            <li>
                <input class="btn btnx" type="submit" value="Place">
            </li>
        </ul>
    </form>


{% include 'socialdistancing/footer.html' %}